# openwisp-utils[qa] @ https://github.com/sachinspanidea8484/openwisp-utils-spanidea/tarball/main
openwisp-utils[qa] @ git+https://sachin:-ayqCK-pz-XLzvW1nmjE@git.spanidea.com/nokia-test-automation/openwisp-utils-spanidea.git@dev 
# openwisp-utils[qa] @ file:///home/spanidea-lt22/Desktop/NOKIA/communications/openwisp-utils
