openwisp-users @ https://github.com/sachinspanidea8484/openwisp-users-spanidea/tarball/main
openwisp-utils[rest] @ https://github.com/sachinspanidea8484/openwisp-utils-spanidea/tarball/main
django-reversion~=6.0.0
openpyxl~=3.1.5
