openwisp-users @ file:///home/spanidea-lt22/Desktop/NOKIA/communications/openwisp-users
openwisp-utils[rest] @ file:///home/spanidea-lt22/Desktop/NOKIA/communications/openwisp-utils
django-reversion~=5.1.0
openpyxl~=3.1.5
